.aurora {
    background-image: url("./assets/wp15390082-blue-aurora-wallpapers.png");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}