* {
    font-family: Arial, Helvetica, sans-serif;
}

.home h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.greeting {
    border: 1px red solid;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero {
    display: grid;
    height: 90vh;
}



