.hero {
    margin:0;
    display: flex;
    height: 90vh;
    justify-content:center;
    align-content:center;
    align-items:center;
}

.greeting {
    width: 85vh;
    margin: 0 auto;
    background-color: rgba(0, 255, 225, 0.516);
    color: white;
    border: rgba(255, 255, 255, 0.678) solid 5px;
    border-radius: 15px;
    padding: 20px;
}

.centered-header {
    text-align: center;
}

.centered-body {
    text-align: center;
}

.parent {
    overflow-x: none;
    position: sticky;
}

