.contact {
    padding: 100px;
    align-items: center;
}

.contact-title{
    font-size: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    margin: 90px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    text-align: center;
    width: 50%;
}

.contact-container{
    text-align: center;
    color: white;
    vertical-align: middle;
    padding: 24px;
    background-color: rgba(0, 255, 225, 0.516);
    color: white;
    border: rgba(255, 255, 255, 0.678) solid 5px;
    border-radius: 15px;
    padding: 20px;
    margin: 90px;
}

.contact-details{
    text-align: center;
}
