.hero {
    margin:0;
    display: flex;
    min-height: 90vh;
    justify-content:center;
    align-content:center;
    align-items:center;
}

.greeting {
    width: 85vh;
    margin: 0 auto;
    background-color: rgba(0, 255, 225, 0.516);
    color: white;
    box-shadow: 10px 10px 8px 10px #38383872;
    border-radius: 15px;
    padding: 20px;
}

.centered-header {
    text-align: center;
}

.centered-body {
    text-align: center;
}

.parent {
    overflow-x: none;
    padding-bottom: 42px;
}


