

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
  margin: 0;
  padding: 5px;
  background: linear-gradient(to bottom, #0000 2px, #c9d0d9 2px, #b3c0cc 30%, #0000 30%),	linear-gradient(to bottom in oklch, #9eadbc 60%, #fff);
  border: solid black;
  border-width: 1px 0 1px 0;
	box-shadow: 0 0 2px black;
}

.navbar li {
  height: 100%;
	
	display: flex;
	align-items: center;
	padding: 1em;

	font-weight: 600;

	transition: 200ms;
}

.navbar li:hover {
  text-decoration: underline;
  background: #fff5
}


.navbar ul {
		display: flex;

		list-style: none;
		margin: 0 1rem;
		padding: 0;

		height: 100%;
}


.nav-links {
  align-self: stretch
}

.button {
  text-decoration: none;
  color: white;
}

.nav {
  align-self: stretch;
}

