.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
  margin: 0;
  padding: 5px;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(71, 164, 223) 49%, rgb(182, 201, 226) 49%, rgb(22, 163, 245) 100%); 
  border-radius: 15px;
}

.navbar li {
  cursor: pointer;
  list-style: none;
  height: -15px;
}

.navbar li:hover {
  text-decoration: underline;
}


.navbar ul {
  display: flex;
  width: 40%;
  justify-content: space-between;
  list-style: none;
  font-size: 20px;
}


.nav-links {
  text-decoration: none;
  color: white;
}

.button {
  text-decoration: none;
  color: white;
}

